table {
	border-collapse: collapse;	
	width: 100%;

	& td {
		border: 1px solid var(--bs-light-gray);
		padding: var(--s-spacing);

		& a {
			color: var(--bs-primary);
			font-weight: bold;
		}

		& a:hover {
			opacity: .7;
		}
	}

	& th {
		border: 1px solid var(--bs-light-gray);
		padding: var(--s-spacing);
		text-align: left;
	}
}